<h1>Recipe of <%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %>- <%= dose.description %> <span><%= link_to "(Delete)", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %></span></li>
  <% end %>
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :scale %>
  <% end %>
</ul>

<%= link_to "Add a new dose | ", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back", root_path %>








